<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>C programozás gyakorlása</title>
<script type="text/javascript" th:src="@{/twinPrime.js}"></script>
<script type="text/javascript" th:src="@{/validateInput.js}"></script>
<script type="text/javascript" th:src="@{/view.js}"></script>

</head>
<body onload="fillTextarea(); loadTemplate()">
<h4> Feladat: Keresse meg és írassa ki 10000-ig az ikerprím számpárokat. (Segítség: az ikerprímek azok a prímszámpárok, amelyek között a különbség 2.) </h4>

<label for="solution">Megoldás:</label>
<br>
<form method="post" action="c_compile">

<textarea th:text="${solution}" name="solution" id="solution" rows="15" cols="100"></textarea>
<p>
Paraméterek (a különbözőeknél ;-t kell tenni): <input name="params" id="params"/>
<p>	
<input type="hidden" name="route" value="topics/operators/L3/TwinPrime/twinPrime">
<input type="hidden" name="path" value="/operators/L3/TwinPrime/">
<input type="submit" value="Kód kiértékelése">	
</form>

<p>
<a href="/endOfTrying">Próbálkozás vége</a>


<h4 id="time" >Idő: <span id="timeSpan" th:text="${elapsedTime}"></span> másodperc.</h4>

<h4 id="compileH4">Fordítás eredménye (GNU-GCC):</h4>
<div id="compilelog" th:each="c: ${compileLog}" th:text="${c}"> </div>

<h4 id="runH4">Futtatás eredménye:</h4>
<div id="runlog" th:each="r: ${runLog}" th:text="${r}"></div>

<h4 id="outputH4">Output:</h4>
<div id="output" th:each="o: ${stdout}" th:text="${o}"></div>

<h4 id="testCases">Szemantikai teszt eredménye (CUnit): <span id="testCaseSpan" th:text="${passedTestCaseCounter}"></span> sikeres, <span id="testCaseSpan" th:text="${failedTestCaseCounter}"></span> sikertelen.</h4>

<h4 id="staticCodeAnalyzeH4">Statikus kódelemzés (cppcheck):</h4>
<div id="staticCodeAnalyze" th:each="h: ${simpleOut}" th:text="${h}"></div>

<h4 id="halsteadH4">Halstead komplexitás (Frama-C):</h4>
<div id="halstead" th:each="h: ${halsteadOut}" th:text="${h}"></div>

<h4 id="cycH4">Ciklomatikus komplexitás (pmccabe):</h4>
<ul>
	<li id="cycValue">értéke: <span id="cycValueSpan" th:text="${Ecyc}"></span></li>
	<li id="cycAbsDiff">abszolút eltérés a mintamegoldástól: <span id="cycAbsDiffSpan" th:text="${absDiffCyc}"></span> </li>
	<li id="cycPerDiff">százalékos eltérés a mintamegoldástól: <span id="cycPerDiffSpan" th:text="${cyc}"></span></li>
</ul>


<!-- Naming conventions -->
<h4 id="namingConventionsH4">Névkonvenciók:
<span id="namingConventionsSpan" th:text="${namingConventions}"></span></h4>


	
</body>
</html>